@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    font-family: Inter, sans-serif;

    background:
    radial-gradient(circle at top left,#1d4ed8 0%,transparent 28%),
    radial-gradient(circle at bottom right,#0f766e 0%,transparent 22%),
    #020617;

    color:white;

    overflow:hidden;
}

*{
    box-sizing:border-box;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background:#020617;
}

::-webkit-scrollbar-thumb{
    background:#334155;
    border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
    background:#475569;
}